.job-cards-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.job-card {
  width: calc(25% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.top-card {
  text-align: center;
  background-color: rgb(11, 231, 231);
  padding: 10px;
  border-radius: 10px;
}

.top-card h2, .top-card p {
  margin: 5px 0;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  background-color:rgb(11, 231, 231);
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #0044cc;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filters input {
  width: calc(50% - 5px); /* Each input takes 50% width with a small gap */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Adjust input width for smaller screens */
@media screen and (max-width: 768px) {
  .filters input {
    width: 100%; /* Full width for smaller screens */
  }
}

.filters input[type="text"],
.filters input[type="number"],
.filters select {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filters select {
  background-color: #fff;
  cursor: pointer;
}

.filters input[type="text"]:last-child,
.filters input[type="number"]:last-child {
  margin-right: 0;
}

.filters input[type="text"]::placeholder,
.filters input[type="number"]::placeholder {
  color: #999;
}

.filters button {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.filters button:hover {
  background-color: #0044cc;
}



@media screen and (max-width: 768px) {
  .job-card {
    width: calc(50% - 20px); /* 50% width for each card on smaller screens */
  }
}
